/* General styles */
body {
  font-family: sans-serif, monospace, serif;
  min-width: 350px;
  background-color: rgba(211, 211, 211, 0.5);
  padding: 0%;
}
header,
section,
footer {
  display: grid;
  justify-items: center;
  margin: 50px auto 50px;
}

/* Header styles */
header > p {
  margin: 0px auto 25px;
}
#img-div {
  aspect-ratio: attr(width) / attr(height);
  background-color: blue;
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  background-color: #fff;
}
@media (min-width: 1100px) {
  #img-div {
    min-width: 1024px;
    padding: 0% 50%;
  }
}
img {
  max-width: 100%;
  height: auto;
}
figcaption {
  margin: 20px;
}

/* Section styles */
.section-child {
  max-width: 600px;
  line-height: 30px;
}
ul.section-child > li {
  margin: 15px 0px;
}
blockquote > p {
  font-style: italic;
}

/* Footer styles */
footer > p {
  font-size: large;
}
